/*font*/

*{
    font-family: 'Consolas', sans-serif;
}
body{
    margin: 0 auto;
    background-color: #191a1b;
}


/*navbar*/
nav, .navbar-dark{
    margin: 2em 21rem 0px 10rem;
}

.navbar-brand{
    margin: 0 1.5rem 0 14rem;
    font-weight: bolder;
    color: #74d4ac;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #74d4ac;
    text-decoration: none;
}

nav ul li{
    margin: 0px 0.2em 0px 0px;
    padding: 20px 15px;
    text-align: center;
}

nav ul li{
    list-style: none;
}

.nav-link{
    color: #E5EEF1;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 18px;
}
.nav-link:active, .nav-link:focus{
    color: #74d4ac;
    border-bottom: 1px solid #74d4ac;
    text-decoration: underline;
}
.nav-link:link{
    color: #E5EEF1;
    text-decoration: none;
}

.nav-link:hover{
    color: #74d4ac;
    text-decoration: none;
    /* border-bottom: 1px solid #74d4ac; */
}


/*header*/
header{
    padding: 4%;
    margin-top: 1.2%;
}
header h1{
    font-size: 40px;
    color: #E5EEF1;
    font-weight: 600;
}
header h2{
    font-size: 55px;
    font-weight: bolder;
    color:#74d4ac;
    line-height: 2em;
}
header p{
    font-size: 18px;
    color: #E5EEF1;
    width: 90%;
    line-height: 1.7em;
    letter-spacing:2px;
}

/*section*/
section{
    padding: 5rem;
    margin-top: 0.9%;
    margin-bottom: 2%;
}
section h1{
    font-size: 40px;
    color: #E5EEF1;
    font-weight: 600;
    line-height: 2.2em;
}
section h2{
    font-size: 55px;
    font-weight: bolder;
    color:#74d4ac;
    line-height: 2.2em;
}
section p{
    font-size: 18px;
    color: #E5EEF1;
    width: 100%;
    line-height: 2.2em;
    letter-spacing:2.2px;
}

.btn-dark{
    background-color: #319f72;
    border: 1px solid #215a42;
    width: 20%;
    padding: 12px;
    margin-top: 10px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    margin-right: 15px;
}

.btn-dark:hover, .btn-dark:focus{
    background-color: #378565;
    border: 1px solid #215a42;
    text-decoration: none;
}


/*aboutme*/
.title, h1{
    color:#74d4ac;
    line-height:2em;
}

#about .btn-dark{
    background-color: #319f72;
    border: 1px solid #215a42;
    width: 50%;
    padding: 12px;
    margin-top: 10px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    margin-right: 15px;
}

#about .btn-dark:hover, #about .btn-dark:focus{
    background-color: #378565;
    border: 1px solid #215a42;
    text-decoration: none;
}


/*card*/
.card{
    width: 350px;
    height: 480px;
    grid-column: span 8;
    padding: 7px;
    margin: 4em auto;
    background-color: #343434;
    position: relative;
    border-radius: 10px;

    /*shadow*/
    box-shadow: 12px 14px 19px -11px rgba(15,15,15,0.6);
    -webkit-box-shadow: 12px 14px 19px -11px rgba(15,15,15,0.6);
    -moz-box-shadow: 12px 14px 19px -11px rgba(15,15,15,0.6);
}
.card .hline{
    margin: 1rem 0 0.5rem 0;
    background-color: #556567;
    width: 100%;
    height: 1px;
}

.card .img-card img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card .text-card{
    margin-top: -4px;
}
.card .text-card h3{
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    padding: 5px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing:auto;
    color: #74d4ac;
}
.card .text-card p{
    margin-top: -16px;
    padding: 6px;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing:auto;
    color: #dfece7;
}
.card .text-card a{
    padding: 10px;
    margin: 2px 0 0 5px;
    background-color: #74d4ac;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: auto;
    color: #343434;
    text-decoration: none;
}

.card .text-card a:hover{
    background-color: #378565;
    color: #dfece7;
}


/*contact*/
#contact {
    padding: 5%;
    margin-top: 1%;
}

#contact h1{
    margin-bottom: 3%;
}

/* #contact h4{
    font-weight: bolder;
    color:#74d4ac;
    line-height: 2.2em;
} */

#contact input[type="submit"] {
    background-color: #319f72;
    border: 1px solid #215a42;
    width: 100%;
    padding: 12px;
    margin-top: 3rem;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    margin-right: 15px;
}

#contact input[type="submit"]:hover, #contact input[type="submit"]:focus{
    background-color: #378565;
    border: 1px solid #215a42;
    text-decoration: none;
}

#contact a i{
    color: #74d4ac;
    font-size: 50px;
}

#contact a i:hover, #contact a i:focus{
    color: #378565;
}

/*icon fa*/
.fa-linkedin, .fa-github{
    margin-right: 10px;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea{
    background-color: #b8ecd6;
    border-color: #215a42;
    color: #191a1b;
}

#contact input[type="text"]::placeholder, #contact input[type="email"]::placeholder, #contact textarea::placeholder{
    color: #212321;
}


/*footer*/
footer p{
    padding: 2em;
    font-size: 20px;
    color: #74d4ac;
}


/*media query*/
@media screen and (min-width: 320px) and (max-width: 360px) {
    .navbar-brand{
        margin-left: -19vh;
        font-size: 0.8rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -8.5vh;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav button{
        margin-top: -5vh;
        margin-left: 8.5vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    nav ul li{
        margin: 0;
    }

    /*header*/
    #home{
        margin-top: 5vh;
        width: 100%;
    }


    #home img{
        margin-top: 4em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.1rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.3rem;
        text-align: center;
    }
    #home p{
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    #about img{
        margin-top: -5em;
        margin-left: -3em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }

    /*section*/
    #about h1{
        font-size: 1.1rem;
        text-align: center;
        align-items: center;
    }

    #about p{
        font-size: 1rem;
        align-items: center;
        text-align: center;
    }

    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skills h1{
        font-size: 1.1rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.1rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -70px;
        margin-bottom: -10px;
        width: 250px;
        height: 380px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.9rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 180px;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 375px) {
    .navbar-brand{
        margin-left: -19vh;
        font-size: 0.8rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -5.5vh;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav button{
        margin-top: -5vh;
        margin-left: 14.5vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    nav ul li{
        margin: 0;
    }

    /*header*/
    #home{
        margin-top: 5vh;
        width: 100%;
    }


    #home img{
        margin-left: 4vh;
        margin-top: 4em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.1rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.3rem;
        text-align: center;
    }
    #home p{
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    #about img{
        margin-top: -6.5em;
        margin-left: -1.5em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }

    /*section*/
    #about h1{
        font-size: 1.1rem;
        text-align: center;
        align-items: center;
    }

    #about p{
        font-size: 1rem;
        align-items: center;
        text-align: center;
    }

    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skills h1{
        font-size: 1.1rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.1rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -50px;
        margin-bottom: -10px;
        width: 250px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.9rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 180px;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 0.9rem;
    }
}



@media screen and (min-width: 375px) and (max-width: 390px) {

    .navbar-brand{
        margin-left: -18vh;
        font-size: 1rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -5vh;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav ul li{
        margin: 0;
    }

    nav button{
        margin-top: -6.5vh;
        margin-left: 16vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        margin-top: 5vh;
        text-align: center;
    }

    #home img{
        margin-top: 4em;
        margin-left: -0.5em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.2rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.25rem;
        text-align: center;
    }
    #home p{
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
    }
    #about img{
        margin-left: -8px;
        margin-top: -8em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -40px;
        margin-bottom: -5px;
        width: 250px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.95rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3.5rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 390px) and (max-width: 412px) {
    .navbar-brand{
        margin-left: -17.5vh;
        font-size: 1rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -3.5vh;
        margin-top: 8.5px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav ul li{
        margin: 0;
    }

    nav button{
        margin-top: -5vh;
        margin-left: 16vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        text-align: center;
    }

    #home img{
        margin-top: 4em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.2rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.25rem;
        text-align: center;
    }
    #home p{
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
    }
    #about img{
        margin-left: -8px;
        margin-top: -8em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -40px;
        margin-bottom: -5px;
        width: 250px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.95rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3.5rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 412px) and (max-width: 414px) {
    .navbar-brand{
        margin-left: -15.5vh;
        font-size: 1rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -2vh;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav ul li{
        margin: 0;
    }

    nav button{
        margin-top: -4.8vh;
        margin-left: 17vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        text-align: center;
    }

    #home img{
        margin-top: 4em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.2rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.25rem;
        text-align: center;
    }
    #home p{
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
    }
    #about img{
        margin-left: -8px;
        margin-top: -8em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -25px;
        margin-bottom: -5px;
        width: 250px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.95rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3.5rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 414px) and (max-width: 480px) {
    .navbar-brand{
        margin-left: -20vh;
        font-size: 1rem;
        position: relative;
    }

    .nav-item a{
        margin-left: -2.2vh;
        margin-top: 10px;
        font-size: 1rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav ul li{
        margin: 0;
    }

    nav button{
        margin-top: -5vh;
        margin-left: 21vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        margin-top: 5vh;
        text-align: center;
    }

    #home img{
        margin-top: 4em;
        width: 250px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.2rem;
        text-align: center;
    }
    #home h2{
        font-size: 1.25rem;
        text-align: center;
    }
    #home p{
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
    }
    #about img{
        margin-left: -8px;
        margin-top: -8em;
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        width: 100%;
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        width: 100%;
        font-size: 1rem;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }


    /*projects*/

    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin-left: -23px;
        margin-bottom: -5px;
        width: 250px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 0.95rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.1rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 3.5rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1rem;
    }

    /*footer*/
    footer p{
        font-size: 1.1rem;
    }
}

@media  screen and (min-width: 480px) and (max-width: 540px) {
    .navbar-brand{
        margin-left: -15.2vh;
        font-size: 1.2rem;
        position: relative;
    }

    .nav-item a{
        margin-left: 2vh;
        margin-top: 10px;
        font-size: 1.05rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav button{
        margin-top: -6vh;
        margin-left: 27vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        text-align: center;
        margin-top: 10vh;
    }

    #home img{
        margin-top: 5em;
        width: 280px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.35rem;
    }
    #home h2{
        font-size: 1.4rem;
        text-align: center;
        width: 100%;
    }
    #home p{
        font-size: 1.2rem;
        width: 100%;
    }

    #home .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
        margin-top: -5vh;
    }
    #about img{
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }

    /*projects*/
    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin: 1.5em 0 -5px 3px;
        width: 280px;
        height: 400px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 1rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1.2rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.25rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 4.5rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1.2rem;
    }

    /*footer*/
    footer p{
        font-size: 1rem;
    }
}

@media  screen and (min-width: 540px) and (max-width: 768px) {
    .navbar-brand{
        margin-left: -15.2vh;
        font-size: 1.2rem;
        position: relative;
    }

    .nav-item a{
        margin-left: 7.5vh;
        margin-top: 10px;
        font-size: 1.05rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #74d4ac;
    }

    nav button{
        margin-top: -6vh;
        margin-left: 38vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        text-align: center;
        margin-top: 2vh;
        margin-left: 18vh;
    }

    #home img{
        margin-top: 30em;
        margin-left: -72vh;
        width: 280px;
        height: auto;
        align-items: center;
    }

    #home h1{
        font-size: 1.35rem;
    }
    #home h2{
        font-size: 1.4rem;
        text-align: center;
        width: 100%;
    }
    #home p{
        font-size: 1.2rem;
        width: 100%;
    }

    #home .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
    }

    /*section*/
    #about{
        width: 100%;
        text-align: center;
        margin-top: -14vh;
    }
    #about img{
        width: 200px;
        height: auto;
        text-align: center;
        align-items:center;
    }
    #about h1{
        margin-top: 1vh;
        font-size: 1.25rem;
        text-align: center;
        align-items: center;
    }
    #about p{
        font-size: 1rem;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #about .btn-dark{
        width: 100%;
        align-items: center;
        font-size: 1.2rem;
    }

    /*skills*/
    #skill {
        width: 100%;
        text-align: center;
    }
    #skills h1{
        font-size: 1.25rem;
        text-align: center;
    }

    #skills p{
        font-size: 1rem;
        text-align: center;
    }

    /*projects*/
    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        font-size: 1.25rem;
        text-align: center;
    }

    /*card*/
    .card{
        margin: 1.5em 0 -5px 3.5vh;
        width: 280px;
        height: 390px;
        grid-column: span 4;
    }
    .card .text-card h3{
        font-size: 1rem;
    }
    .card .text-card p{
        font-size: 0.8rem;
        width: 100%;
        height: auto;
        white-space: nowrap;      
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    #projects .btn-dark{
        margin-top: 4em;
        font-size: 1.2rem;
        width: 100%;
    }

    /*contact*/
    #contact h1{
        font-size: 1.25rem;
    }
    #contact p{
        font-size: 1rem;
    }

    #contact a i{
        font-size: 4rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1.2rem;
    }

    /*footer*/
    footer p{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 820px){
    
    .navbar-brand{
        margin-left: -10vh;
        font-size: 1.75rem;
        position: relative;
        display: flex;
    }

    nav ul li{
        margin: 0;
    }

    .nav-item a{
        margin-left: 14vh;
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #378565;
    }

    nav button{
        padding: 10px;
        margin-top: -5vh;
        margin-left: 46.5vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        margin-top: 5vh;
        margin-left: 17.5vh;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    #home img{
        margin-top: 35em;
        margin-left: -70vh;
        width: 100%;
        height: auto;
    }

    #home h1{
        width: 100%;
        font-size: 2.2rem;
        width: 100%;
    }
    #home h2{
        font-size: 2.10rem;
    }
    #home p{
        width: 100%;
        font-size: 1.7rem;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: center;
    }

    #about img{
        width: 300px;
        height: auto;
        margin-top: -3vh;
        margin-left: 5.2vh;
        justify-content: center;
        align-items:center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 2rem;
    }

    #about p{
        width: 100%;
        font-size: 1.7rem;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }

    #skills p{
        width: 100%;
        font-size: 1.7rem;
    }


    /*projects*/
    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 2rem;
    }

    /*card*/
    .card{
        width: 350px;
        height: 380px;
        margin: 1.5vh 0 7vh 6.5em;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }
    #contact p{
        width: 100%;
        font-size: 1.7rem;
    }

    #contact a i{
        font-size: 3rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1.5rem;
    }

    /*footer*/
    footer p{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 820px) and (max-width: 912px){
    
    .navbar-brand{
        margin-left: -8vh;
        font-size: 1.75rem;
        position: relative;
        display: flex;
    }

    nav ul li{
        margin: 0;
    }

    .nav-item a{
        margin-top: 3vh;
        margin-left: 17vh;
        font-size: 1.5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #378565;
    }

    nav button{
        padding: 10px;
        margin-top: -5vh;
        margin-left: 48vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    #home img{
        margin-top: 35em;
        margin-left: -64vh;
        width: 100%;
        height: auto;
    }

    #home h1{
        width: 100%;
        font-size: 2.2rem;
        width: 100%;
    }
    #home h2{
        font-size: 2.1rem;
    }
    #home p{
        width: 100%;
        font-size: 1.7rem;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: center;
    }

    #about img{
        width: 300px;
        height: auto;
        margin-top: -3vh;
        margin-left: 7vh;
        justify-content: center;
        align-items:center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 2rem;
    }

    #about p{
        width: 100%;
        font-size: 1.7rem;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }

    #skills p{
        width: 100%;
        font-size: 1.7rem;
    }


    /*projects*/
    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 1.7rem;
    }

    /*card*/
    .card{
        width: 480px;
        height: 420px;
        margin: 1.5vh 0 7vh 4.5em;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }
    #contact p{
        width: 100%;
        font-size: 1.7rem;
    }

    #contact a i{
        font-size: 3rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1.5rem;
    }

    /*footer*/
    footer p{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 912px) and (max-width: 1024px){
    
    .navbar-brand{
        margin-left: -6vh;
        font-size: 1.75rem;
        position: relative;
        display: flex;
    }

    nav ul li{
        margin: 0;
    }

    .nav-item a{
        margin-left: 15vh;
        margin-top: 2vh;
        font-size: 1.8rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .nav-item a:hover{
        color: #378565;
    }

    nav button{
        padding: 10px;
        margin-top: -4vh;
        margin-left: 46vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        width: 100%;
        margin-top: 5vh;
        margin-left: 14.5vh;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    #home img{
        margin-top: 35em;
        margin-left: -55vh;
        width: 100%;
        height: auto;
    }

    #home h1{
        width: 100%;
        font-size: 2.2rem;
        width: 100%;
    }
    #home h2{
        font-size: 2.10rem;
    }
    #home p{
        width: 100%;
        font-size: 1.5rem;
    }

    #home .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -2em;
        text-align: center;
    }

    #about img{
        width: 320px;
        height: auto;
        margin-top: -4vh;
        margin-left: 7.8em;
        justify-content: center;
        align-items:center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 2rem;
    }

    #about p{
        width: 100%;
        font-size: 1.7rem;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }

    #skills p{
        width: 100%;
        font-size: 1.7rem;
    }


    /*projects*/
    #projects section{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 1.7rem;
    }

    /*card*/
    .card{
        width: 480px;
        height: 420px;
        margin: 1.5vh 0 7vh 6.5em;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 100%;
        font-size: 1.5rem;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 2rem;
    }
    #contact p{
        width: 100%;
        font-size: 1.7rem;
    }

    #contact a i{
        font-size: 3rem;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 1.5rem;
    }

    /*footer*/
    footer p{
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){

    .navbar-brand{
        margin-left: -12vh;
        font-size: 24px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
    }

    .nav-item a{
        font-size: 18.5px;
        padding: 1px;
        margin-left: 37vh;
        margin-right: -34vh;
    }

    .nav-item a:hover{
        color: #378565;
    }

    nav button{
        padding: 7px;
        margin-top: -7.2vh;
        margin-left: 57vh;
        color: #74d4ac;
        float:right;
    }

    nav i{
        padding: 5px;
    }

    /*header*/
    #home{
        margin: 5vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -0.8em;
        margin-left: -5vh;
        width: 350px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 24px;
    }
    #home h2{
        font-size: 25px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 80%;
        font-size: 20px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 30px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 20px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 30px;
    }

    #skills p{
        width: 100%;
        font-size: 25px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 30px;
    }

    /*card*/
    .card{
        width: 350px;
        height: 480px;
        margin: 0 0 5vh 29.8vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 50%;
        font-size: 20px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 30px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3.2rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 20px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1366px){

    .navbar-brand{
        margin-left: -9.5vh;
        font-size: 22px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
        margin-left: 1vh;
        margin-right: 3.5vh;
    }

    .nav-item a{
        left: 2px;
        font-size: 18px;
        padding: 1px;
    }

    .nav-item a:hover{
        color: #378565;
    }

    /*header*/
    #home{
        margin: 5vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -4em;
        margin-left: -4.8vh;
        width: 400px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 28px;
    }
    #home h2{
        font-size: 30px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 50%;
        font-size: 20px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 28px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 20px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }

    #skills p{
        width: 100%;
        font-size: 21px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 28px;
    }

    /*card*/
    .card{
        width: 350px;
        height: 480px;
        margin: 2vh 0 5vh 49.5vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 25%;
        font-size: 20px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3.5rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 20px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1440px){

    .navbar-brand{
        margin-left: -3vh;
        font-size: 22px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
        margin-left: 27vh;
        margin-right: -22vh;
    }

    .nav-item a{
        left: 2px;
        font-size: 18px;
        padding: 1px;
    }

    .nav-item a:hover{
        color: #378565;
    }

    /*header*/
    #home{
        margin: 13vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -7em;
        margin-left: -4.8vh;
        width: 420px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 28px;
    }
    #home h2{
        font-size: 30px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 50%;
        font-size: 20px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 28px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 100%;
        font-size: 20px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }

    #skills p{
        width: 100%;
        font-size: 21px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 28px;
    }

    /*card*/
    .card{
        width: 350px;
        height: 480px;
        margin: 2vh 0 5vh 49vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 40%;
        font-size: 20px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3.5rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 20px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1600px){
    .navbar-brand{
        margin-left: -5.5vh;
        font-size: 24px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
        margin-left: 22vh;
        margin-right: -16.5vh;
    }

    .nav-item a{
        left: 2px;
        font-size: 21.5px;
        padding: 1px;
    }

    .nav-item a:hover{
        color: #378565;
    }

    /*header*/
    #home{
        margin: 10vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -5em;
        margin-left: -5vh;
        width: 450px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 28px;
    }
    #home h2{
        font-size: 30px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 50%;
        font-size: 22px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 28px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 50%;
        font-size: 22px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }

    #skills p{
        width: 100%;
        font-size: 21px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 28px;
    }

    /*card*/
    .card{
        width: 400px;
        height: 480px;
        margin: 2vh 0 5vh 39vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 40%;
        font-size: 22px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 22px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1920px){
    .navbar-brand{
        margin-left: 1vh;
        font-size: 24px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
        margin-left: 18vh;
        margin-right: -12vh;
    }

    .nav-item a{
        left: 2px;
        font-size: 21.5px;
        padding: 1px;
    }

    .nav-item a:hover{
        color: #378565;
    }

    /*header*/
    #home{
        margin: 5vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -5em;
        margin-left: -5vh;
        width: 450px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 28px;
    }
    #home h2{
        font-size: 30px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 25%;
        font-size: 22px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 28px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 50%;
        font-size: 22px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }

    #skills p{
        width: 100%;
        font-size: 21px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 28px;
    }

    /*card*/
    .card{
        width: 400px;
        height: 480px;
        margin: 2vh 0 5vh 49vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 40%;
        font-size: 22px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 22px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}

@media screen and (min-width: 1920px){
    .navbar-brand{
        margin-left: 16.5vh;
        font-size: 24px;
        position: relative;
        display: flex;
    }

    nav ul li{
        padding: 1px;
        margin-left: 2vh;
        margin-right: 4.5vh;
    }

    .nav-item a{
        left: 2px;
        font-size: 20px;
        padding: 1px;
    }

    .nav-item a:hover{
        color: #378565;
    }

    /*header*/
    #home{
        margin: 5vh 0 0 5vh;
        text-align: left;
        width: 100%;
    }

    #home img{
        margin-top: -5em;
        margin-left: -5vh;
        width: 450px;
        height: auto;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    #home h1{
        font-size: 28px;
    }
    #home h2{
        font-size: 30px;
    }
    #home p{
        font-size: 21px;
    }

    #home .btn-dark{
        width: 25%;
        font-size: 22px;
    }

    /*section*/
    #about{
        width: 100%;
        margin-top: -5em;
        text-align: left;
        align-self: center;
    }

    #about img{
        width: 100%;
        height: auto;
        margin-top: 5vh;
        margin-left: -2vh;
        justify-content: center;
        align-items:center;
        align-self: center;
    }

    #about h1{
        margin-top: 10vh;
        font-size: 28px;
    }

    #about p{
        width: 100%;
        font-size: 21px;
    }

    #about .btn-dark{
        width: 50%;
        font-size: 22px;
    }

    /*skills*/
    #skills h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }

    #skills p{
        width: 100%;
        font-size: 21px;
    }


    /*projects*/
    #projects section{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 40px;
    }

    #projects h1{
        margin-top: 1.5vh;
        margin-bottom: 4vh;
        font-size: 28px;
    }

    /*card*/
    .card{
        width: 510px;
        height: 420px;
        margin: 2vh 0 5vh 40vh;
        grid-column: span 2;
        column-count: 2;
    }

    #projects .btn-dark{
        width: 40%;
        font-size: 22px;
    }

    /*contact*/
    #contact section{
        width: 100%;
    }

    #contact h1{
        margin-top: 1.5vh;
        font-size: 28px;
    }
    #contact p{
        width: 100%;
        font-size: 21px;
    }

    #contact a i{
        font-size: 3rem;
        padding: 2px;
    }

    #contact input[type="submit"]{
        width: 100%;
        font-size: 22px;
    }

    /*footer*/
    footer p{
        font-size: 21px;
    }
}